<div class="container">
	<div class="row">
		<div class="col">
			<h1><%= @hotel.name %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<img src="<%= @hotel.picture_url %>" class="img-fluid" />
		</div>
		
		<div class="col-8">
			<h5 class="mb-3">所在地 : <%= @hotel.prefecture.name %></h2>
				<h4 class="mb-5"><% @hotel.description %></h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<% @hotel.reviews.order(create_at: :desc) %>
		</div>
	</div>
</div>
